* {
    overflow: hidden;
    cursor: url(LinkSelect.cur), default;
    font-family: 'Mouse Memoirs', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: #040714;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

div>img {
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: #2c2e3a;
}

img:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.banner-carousel>img {
    width: 18%;
}

img::after {
    transition: border 300ms ease-out 0s;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}