.search-container {
    margin-top: 7px;
    margin-left: 16px;
}

input[type=text] {
    /* padding: 6px; */
    /* margin-top: 8px; */
    /* font-size: 17px; */
    border-style: solid;
    border-radius: 5px;
}

button[type=submit] {
    border-radius: 5px;
    padding: 6px;
}