* {
    overflow: auto;
    cursor: url(LinkSelect.cur), default;
    font-family: 'Mouse Memoirs', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
    color: black;
    background-color: #0795E6;
}

.ProfileCard {
    width: 400px;
    margin: auto;
    background: #ffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    float: left;
    margin-top: 20px;
    margin-left: 37%;
}

.Image-Container {
    position: relative;
}

ul {
    list-style-type: none;

    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.boxedparagraph p {
    text-align: center;
    border-style: ridge;
}