* {
    cursor: url(LinkSelect.cur), default;
    font-family: 'Mouse Memoirs', sans-serif;
    padding: 0;
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -2;
}

.column {
    text-align: center;
    float: left;
    width: 75%;
    padding: 0px;
    height: 100%;
}

.column2 {
    text-align: center;
    float: right;
    width: 23%;
    height: 100%;
    border-radius: 25px;
    background-color: white;
}

.SectionsR {
    border: grey;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: image("lucasfilm.jpg");
}

div.comment {
    margin: 15px 0 15px;
}

div>textarea {
    width: 250px;
}

#h1Right {
    box-align: center;
    background-color: green;
    color: white;
    border-radius: 25px;
    width: 100%;

}

#pRight {
    background-color: white;
}

body {
    background-color: #040714;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

img {
    width: 23%;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 10px 10px;
    border-radius: 10px;
}

img:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}